Repository macorobots/roomac_ros, changes with the labels that .github/labeler.yml gives for each.
All labels: docker, ar_tag, arm, autonomous_manipulation, base, description, moveit, kinect, move_base, rtabmap, sensor_fusion, simulation, readme

Update changelog
  roomac/CHANGELOG.rst
  roomac_ar_tag/CHANGELOG.rst
  roomac_arm/CHANGELOG.rst
  roomac_arm_moveit/CHANGELOG.rst
  roomac_autonomous_manipulation/CHANGELOG.rst
  roomac_base/CHANGELOG.rst
  roomac_description/CHANGELOG.rst
  roomac_description_moveit/CHANGELOG.rst
  roomac_kinect/CHANGELOG.rst
  roomac_move_base/CHANGELOG.rst
  roomac_rtabmap/CHANGELOG.rst
  roomac_sensor_fusion/CHANGELOG.rst
  roomac_simulation/CHANGELOG.rst
  roomac_slam/CHANGELOG.rst
Labels: ar_tag, arm, autonomous_manipulation, base, description, moveit, kinect, move_base, rtabmap, sensor_fusion, simulation

1.0.1
  roomac/CHANGELOG.rst
  roomac/package.xml
  roomac_ar_tag/CHANGELOG.rst
  roomac_ar_tag/package.xml
  roomac_arm/CHANGELOG.rst
  roomac_arm/package.xml
  roomac_arm_moveit/CHANGELOG.rst
  roomac_arm_moveit/package.xml
  roomac_autonomous_manipulation/CHANGELOG.rst
  roomac_autonomous_manipulation/package.xml
  roomac_base/CHANGELOG.rst
  roomac_base/package.xml
  roomac_description/CHANGELOG.rst
  roomac_description/package.xml
  roomac_description_moveit/CHANGELOG.rst
  roomac_description_moveit/package.xml
  roomac_kinect/CHANGELOG.rst
  roomac_kinect/package.xml
  roomac_move_base/CHANGELOG.rst
  roomac_move_base/package.xml
  roomac_rtabmap/CHANGELOG.rst
  roomac_rtabmap/package.xml
  roomac_sensor_fusion/CHANGELOG.rst
  roomac_sensor_fusion/package.xml
  roomac_simulation/CHANGELOG.rst
  roomac_simulation/package.xml
  roomac_slam/CHANGELOG.rst
  roomac_slam/package.xml
Labels: ar_tag, arm, autonomous_manipulation, base, description, moveit, kinect, move_base, rtabmap, sensor_fusion, simulation

Descrease padding scale, so that parts of the table won't be removed
  roomac_description_moveit/config/sensors_3d.yaml
Labels: moveit

Increase octomap resolution
  roomac_description_moveit/launch/sensor_manager.launch.xml
Labels: moveit

Update changelog
  roomac/CHANGELOG.rst
  roomac_ar_tag/CHANGELOG.rst
  roomac_arm/CHANGELOG.rst
  roomac_arm_moveit/CHANGELOG.rst
  roomac_autonomous_manipulation/CHANGELOG.rst
  roomac_base/CHANGELOG.rst
  roomac_description/CHANGELOG.rst
  roomac_description_moveit/CHANGELOG.rst
  roomac_kinect/CHANGELOG.rst
  roomac_move_base/CHANGELOG.rst
  roomac_rtabmap/CHANGELOG.rst
  roomac_sensor_fusion/CHANGELOG.rst
  roomac_simulation/CHANGELOG.rst
  roomac_slam/CHANGELOG.rst
Labels: ar_tag, arm, autonomous_manipulation, base, description, moveit, kinect, move_base, rtabmap, sensor_fusion, simulation

1.0.2
  roomac/CHANGELOG.rst
  roomac/package.xml
  roomac_ar_tag/CHANGELOG.rst
  roomac_ar_tag/package.xml
  roomac_arm/CHANGELOG.rst
  roomac_arm/package.xml
  roomac_arm_moveit/CHANGELOG.rst
  roomac_arm_moveit/package.xml
  roomac_autonomous_manipulation/CHANGELOG.rst
  roomac_autonomous_manipulation/package.xml
  roomac_base/CHANGELOG.rst
  roomac_base/package.xml
  roomac_description/CHANGELOG.rst
  roomac_description/package.xml
  roomac_description_moveit/CHANGELOG.rst
  roomac_description_moveit/package.xml
  roomac_kinect/CHANGELOG.rst
  roomac_kinect/package.xml
  roomac_move_base/CHANGELOG.rst
  roomac_move_base/package.xml
  roomac_rtabmap/CHANGELOG.rst
  roomac_rtabmap/package.xml
  roomac_sensor_fusion/CHANGELOG.rst
  roomac_sensor_fusion/package.xml
  roomac_simulation/CHANGELOG.rst
  roomac_simulation/package.xml
  roomac_slam/CHANGELOG.rst
  roomac_slam/package.xml
Labels: ar_tag, arm, autonomous_manipulation, base, description, moveit, kinect, move_base, rtabmap, sensor_fusion, simulation

Add parameter description
  roomac_autonomous_manipulation/cfg/PickCorrection.cfg
  roomac_autonomous_manipulation/config/pick_correction_config.yaml
Labels: autonomous_manipulation

Disable pick correction by default
  README.md
  roomac/launch/external_laptop_nav_picking.launch
  roomac_autonomous_manipulation/launch/picking_correction.launch
Labels: autonomous_manipulation, readme

Move picking correction bag launch to dev utils
  roomac_autonomous_manipulation/dev_utils/bag_picking_correction.launch
Labels: autonomous_manipulation

Remove real picking manager from simulation
  roomac_simulation/launch/simulation_pick_place.launch
Labels: simulation

Update node name
  roomac_autonomous_manipulation/src/pick_correction_node.cpp
Labels: autonomous_manipulation

Move picking correction bag launch to dev utils
  roomac_autonomous_manipulation/launch/bag_picking_correction.launch
Labels: autonomous_manipulation

Cleanup picking correction code
  roomac_autonomous_manipulation/include/roomac_autonomous_manipulation/PickCorrection.h
  roomac_autonomous_manipulation/src/PickCorrection.cpp
  roomac_autonomous_manipulation/src/pick_correction_node.cpp
Labels: autonomous_manipulation

Fix parameter name
  roomac_autonomous_manipulation/cfg/PickCorrection.cfg
Labels: autonomous_manipulation

Update changelog
  roomac/CHANGELOG.rst
  roomac_ar_tag/CHANGELOG.rst
  roomac_arm/CHANGELOG.rst
  roomac_arm_moveit/CHANGELOG.rst
  roomac_autonomous_manipulation/CHANGELOG.rst
  roomac_base/CHANGELOG.rst
  roomac_description/CHANGELOG.rst
  roomac_description_moveit/CHANGELOG.rst
  roomac_kinect/CHANGELOG.rst
  roomac_move_base/CHANGELOG.rst
  roomac_rtabmap/CHANGELOG.rst
  roomac_sensor_fusion/CHANGELOG.rst
  roomac_simulation/CHANGELOG.rst
  roomac_slam/CHANGELOG.rst
Labels: ar_tag, arm, autonomous_manipulation, base, description, moveit, kinect, move_base, rtabmap, sensor_fusion, simulation

1.1.0
  roomac/CHANGELOG.rst
  roomac/package.xml
  roomac_ar_tag/CHANGELOG.rst
  roomac_ar_tag/package.xml
  roomac_arm/CHANGELOG.rst
  roomac_arm/package.xml
  roomac_arm_moveit/CHANGELOG.rst
  roomac_arm_moveit/package.xml
  roomac_autonomous_manipulation/CHANGELOG.rst
  roomac_autonomous_manipulation/package.xml
  roomac_base/CHANGELOG.rst
  roomac_base/package.xml
  roomac_description/CHANGELOG.rst
  roomac_description/package.xml
  roomac_description_moveit/CHANGELOG.rst
  roomac_description_moveit/package.xml
  roomac_kinect/CHANGELOG.rst
  roomac_kinect/package.xml
  roomac_move_base/CHANGELOG.rst
  roomac_move_base/package.xml
  roomac_rtabmap/CHANGELOG.rst
  roomac_rtabmap/package.xml
  roomac_sensor_fusion/CHANGELOG.rst
  roomac_sensor_fusion/package.xml
  roomac_simulation/CHANGELOG.rst
  roomac_simulation/package.xml
  roomac_slam/CHANGELOG.rst
  roomac_slam/package.xml
Labels: ar_tag, arm, autonomous_manipulation, base, description, moveit, kinect, move_base, rtabmap, sensor_fusion, simulation

Move older scripts to different folder
  roomac_autonomous_manipulation/scripts/test_scripts/go_to_artag.py
  roomac_autonomous_manipulation/scripts/test_scripts/go_to_goal_orientation_test.py
  roomac_autonomous_manipulation/scripts/test_scripts/go_to_goal_test.py
  roomac_autonomous_manipulation/scripts/test_scripts/paint_corners.py
  roomac_autonomous_manipulation/scripts/test_scripts/paint_markers.py
  roomac_autonomous_manipulation/scripts/test_scripts/paint_picture.py
  roomac_autonomous_manipulation/scripts/test_scripts/real_pick_object.py
Labels: autonomous_manipulation

Update readme
  README.md
Labels: readme

Add common picking manager for simulation and real robot
  roomac_autonomous_manipulation/scripts/picking_object_manager.py
  roomac_autonomous_manipulation/scripts/real_picking_object_manager.py
  roomac_autonomous_manipulation/scripts/simulation_picking_object_manager.py
  roomac_autonomous_manipulation/scripts/test_scripts/simulation_pick_object.py
Labels: autonomous_manipulation

Add simulation picking manager to launch
  roomac_simulation/launch/simulation_pick_place.launch
Labels: simulation

Update readme
  README.md
Labels: readme

Add pyc files to gitignore
  .gitignore
Labels: none

Add arm precision test
  README.md
  roomac/dev_utils/external_laptop_test_arm_precision.launch
  roomac_autonomous_manipulation/scripts/test_arm_precision_manager.py
  roomac_description/urdf/roomac.xacro
  roomac_description/urdf/roomac_arm_precision_test.xacro
  roomac_description/urdf/roomac_simulation_picking.xacro
  roomac_simulation/dev_utils/simulation_test_arm_precision.launch
Labels: autonomous_manipulation, description, simulation, readme

Add numpy installation
  Dockerfile
Labels: docker

Add tf parallel publisher
  roomac_ar_tag/scripts/tf_publisher_parallel.py
Labels: ar_tag

Add parallel odom publisher
  roomac_ar_tag/scripts/marker_odom_parallel_publisher.py
Labels: ar_tag

Add launch parameter for parallel mounted upper kinect
  roomac/dev_utils/external_laptop_test_arm_precision.launch
  roomac/launch/external_laptop_nav_picking.launch
  roomac_ar_tag/launch/ar_tag.launch
  roomac_ar_tag/launch/filtration.launch
  roomac_autonomous_manipulation/launch/real_ar_object_detection.launch
  roomac_autonomous_manipulation/launch/real_picking.launch
  roomac_simulation/dev_utils/simulation_test_arm_precision.launch
  roomac_simulation/launch/simulation_nav_pick.launch
  roomac_simulation/launch/simulation_pick_place.launch
Labels: ar_tag, autonomous_manipulation, simulation

Add simple script for cacluating detection stats
  roomac_ar_tag/dev_utils/calc_detection_accuracy.py
Labels: ar_tag

Add compensation after recent arm performance tests
  roomac_autonomous_manipulation/scripts/real_picking_object_manager.py
Labels: autonomous_manipulation

Remove get_object_point implementation (it is implemented separately for derived classes)
  roomac_autonomous_manipulation/scripts/picking_object_manager.py
Labels: autonomous_manipulation

Move removing scene object
  roomac_autonomous_manipulation/scripts/picking_object_manager.py
Labels: autonomous_manipulation

Add function calculating planner error
  roomac_autonomous_manipulation/scripts/picking_object_manager.py
Labels: autonomous_manipulation

Move test precision manager to dev utils
  roomac_autonomous_manipulation/dev_utils/test_arm_precision_manager.py
Labels: autonomous_manipulation

Rename orientation function
  roomac_autonomous_manipulation/dev_utils/test_arm_precision_manager.py
Labels: autonomous_manipulation

Update changelog
  roomac/CHANGELOG.rst
  roomac_ar_tag/CHANGELOG.rst
  roomac_arm/CHANGELOG.rst
  roomac_arm_moveit/CHANGELOG.rst
  roomac_autonomous_manipulation/CHANGELOG.rst
  roomac_base/CHANGELOG.rst
  roomac_description/CHANGELOG.rst
  roomac_description_moveit/CHANGELOG.rst
  roomac_kinect/CHANGELOG.rst
  roomac_move_base/CHANGELOG.rst
  roomac_rtabmap/CHANGELOG.rst
  roomac_sensor_fusion/CHANGELOG.rst
  roomac_simulation/CHANGELOG.rst
  roomac_slam/CHANGELOG.rst
Labels: ar_tag, arm, autonomous_manipulation, base, description, moveit, kinect, move_base, rtabmap, sensor_fusion, simulation

1.1.1
  roomac/CHANGELOG.rst
  roomac/package.xml
  roomac_ar_tag/CHANGELOG.rst
  roomac_ar_tag/package.xml
  roomac_arm/CHANGELOG.rst
  roomac_arm/package.xml
  roomac_arm_moveit/CHANGELOG.rst
  roomac_arm_moveit/package.xml
  roomac_autonomous_manipulation/CHANGELOG.rst
  roomac_autonomous_manipulation/package.xml
  roomac_base/CHANGELOG.rst
  roomac_base/package.xml
  roomac_description/CHANGELOG.rst
  roomac_description/package.xml
  roomac_description_moveit/CHANGELOG.rst
  roomac_description_moveit/package.xml
  roomac_kinect/CHANGELOG.rst
  roomac_kinect/package.xml
  roomac_move_base/CHANGELOG.rst
  roomac_move_base/package.xml
  roomac_rtabmap/CHANGELOG.rst
  roomac_rtabmap/package.xml
  roomac_sensor_fusion/CHANGELOG.rst
  roomac_sensor_fusion/package.xml
  roomac_simulation/CHANGELOG.rst
  roomac_simulation/package.xml
  roomac_slam/CHANGELOG.rst
  roomac_slam/package.xml
Labels: ar_tag, arm, autonomous_manipulation, base, description, moveit, kinect, move_base, rtabmap, sensor_fusion, simulation

Cleanup variable names
  roomac_ar_tag/scripts/marker_odom_parallel_publisher.py
Labels: ar_tag

Update changelog
  roomac/CHANGELOG.rst
  roomac_ar_tag/CHANGELOG.rst
  roomac_arm/CHANGELOG.rst
  roomac_arm_moveit/CHANGELOG.rst
  roomac_autonomous_manipulation/CHANGELOG.rst
  roomac_base/CHANGELOG.rst
  roomac_description/CHANGELOG.rst
  roomac_description_moveit/CHANGELOG.rst
  roomac_kinect/CHANGELOG.rst
  roomac_move_base/CHANGELOG.rst
  roomac_rtabmap/CHANGELOG.rst
  roomac_sensor_fusion/CHANGELOG.rst
  roomac_simulation/CHANGELOG.rst
  roomac_slam/CHANGELOG.rst
Labels: ar_tag, arm, autonomous_manipulation, base, description, moveit, kinect, move_base, rtabmap, sensor_fusion, simulation

1.2.0
  roomac/CHANGELOG.rst
  roomac/package.xml
  roomac_ar_tag/CHANGELOG.rst
  roomac_ar_tag/package.xml
  roomac_arm/CHANGELOG.rst
  roomac_arm/package.xml
  roomac_arm_moveit/CHANGELOG.rst
  roomac_arm_moveit/package.xml
  roomac_autonomous_manipulation/CHANGELOG.rst
  roomac_autonomous_manipulation/package.xml
  roomac_base/CHANGELOG.rst
  roomac_base/package.xml
  roomac_description/CHANGELOG.rst
  roomac_description/package.xml
  roomac_description_moveit/CHANGELOG.rst
  roomac_description_moveit/package.xml
  roomac_kinect/CHANGELOG.rst
  roomac_kinect/package.xml
  roomac_move_base/CHANGELOG.rst
  roomac_move_base/package.xml
  roomac_rtabmap/CHANGELOG.rst
  roomac_rtabmap/package.xml
  roomac_sensor_fusion/CHANGELOG.rst
  roomac_sensor_fusion/package.xml
  roomac_simulation/CHANGELOG.rst
  roomac_simulation/package.xml
  roomac_slam/CHANGELOG.rst
  roomac_slam/package.xml
Labels: ar_tag, arm, autonomous_manipulation, base, description, moveit, kinect, move_base, rtabmap, sensor_fusion, simulation

.github/labeler.yml:

docker: 
- docker/**/*
- Dockerfile*
- .dockerignore

ar_tag:
- roomac_ar_tag/**/*

arm:
- roomac_arm/**/*

autonomous_manipulation:
- roomac_autonomous_manipulation/**/*

base:
- roomac_base/**/*

description:
- roomac_description/**/*

moveit:
- roomac_description_moveit/**/*

kinect:
- roomac_kinect/**/*

move_base:
- roomac_move_base/**/*

rtabmap:
- roomac_rtabmap/**/*

sensor_fusion:
- roomac_sensor_fusion/**/*

simulation:
- roomac_simulation/**/*

readme:
- README.md
